@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
  --color-shadow: grey;
  --section-padding: 8px;
  --section-margin: 8px;
  --border-radius-default: 0.75rem;
  --primary-color: #00ffff;
  --primary-color-dark: #008181;
  --shade-color: #494949da;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 32px;
  padding: var(--section-padding) calc(var(--section-padding) * 2);
  text-decoration: none;
  font-size: 1.5rem;
  transition-duration: 0.2s;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-color-dark);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#content-container {
  grid-column: 2 / 4;
}

input:checked ~ .task-name,
input:checked ~ .task-description {
  text-decoration: line-through;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: var(--section-padding);
  transform: translate(-50%, -50%);
  width: 50%;
  background: lightcyan;
  display: flex;
  flex-direction: column;
}

.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar label {
  display: inline-block;
  background-color: #ddd;
  padding: 4px 11px;
  /* font-family:Arial; */
  /* font-size: 16px; */
}

.radio-toolbar input[type="radio"]:checked + label {
  background-color: #bbb;
}

.top-right {
  position: absolute;
  right: 0;
  top: 0;
}
