@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
  --section-padding: 8px;
  --section-margin: 8px;
  --border-radius-default: 0.75rem;
  --primary-color: #00ffff;
  --primary-color-dark: #008181;
  --shade-color: #494949da;
  --color-shadow: grey;
  --high-priority-color: red;
  --medium-priority-color: yellow;
  --low-priority-color: rgb(29, 199, 255);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 32px;
  padding: var(--section-padding) calc(var(--section-padding) * 2);
  text-decoration: none;
  font-size: 1.5rem;
  transition-duration: 0.2s;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-color-dark);
}

ul {
  list-style-type: none;
}

.delete {
  /* background: rgb(187, 0, 0); */
  background: rgb(255, 54, 54) url(images/trash-2.svg) no-repeat;
  background-position: center;
  background-size: 75%;
  padding: 1.5rem;
  width: fit-content;
}

.edit {
  background: rgb(29, 199, 255) url(images/edit.svg) no-repeat;
  background-position: center;
  background-size: 75%;
  padding: 1.5rem;
  width: fit-content;
}

textarea {
  /* outline: none; */
  resize: vertical;
}

body {
  background: rgb(68, 68, 68);
}

main {
  display: grid;
  grid-template-columns: 30% 2fr 2fr;
  margin: 2vw;
  /* padding: var(--section-padding); */
  background: white;
}

#sidebar {
  background: rgb(34, 34, 34);
  color: white;
}

#sidebar > h1 {
  padding: var(--section-padding);
}

#sidebar button {
  border-radius: 0;
  background: inherit;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  text-indent: 1.5rem;
}

#project-container {
  margin-top: 1rem;
  border-top: solid 2px white;
}

#project-container > h2 {
  padding: var(--section-padding);
}

#content-container {
  grid-column: 2 / 4;

  display: flex;
  flex-direction: column;
}

#project-info {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  padding: var(--section-padding);
  background: lightgray;
}

#content-header {
  border-bottom: solid 2px rgba(255, 255, 255, 0.603);
  /* width: fit-content; */
  margin-bottom: var(--section-margin);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#content-description {
  grid-row: 2 / 3;
}

#project-info button {
  justify-self: end;
  margin: var(--section-margin);
  padding: 1.5rem 5vw;
  background-size: 45px;
}

#newTaskBtn {
  margin: var(--section-margin);
}

#task-container li {
  display: grid;
  grid-template-columns: 0.2fr repeat(3, minmax(0, 2fr));
  align-items: baseline;
  padding: var(--section-padding);
  margin: 8px 0;
  background: #fff7d2;
  /* border-radius: var(--border-radius-default); */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

li.low {
  border-left: solid 8px var(--low-priority-color);
}

li.high {
  border-left: solid 8px var(--high-priority-color);
}

.task-name {
  margin-left: -50px;
}

/* Task complete styling */
.task-complete-checkbox:checked ~ .description-checkbox-label,
.task-complete-checkbox:checked ~ .task-description {
  text-decoration: line-through;
}

.task-description {
  display: none;
  grid-row: 2 / 3;
  grid-column: 2 / span 5;
}

.task-due-date {
  justify-self: end;
}

.description-checkbox {
  display: none;
}

.description-checkbox-label {
  display: block;
  position: relative;
  cursor: pointer;
}

.description-checkbox-label::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-bottom: solid 2px black;
  border-right: solid 2px black;
  margin-right: 1rem;
  /* position: absolute; */
  left: 0;
  /* top: -10px; */
  transform: rotate(-45deg);
  /* background: gray; */
  transition: all 0.2s;
}

.description-checkbox:checked + label::before {
  transform: rotate(45deg);
}

.description-checkbox:checked ~ .task-description {
  display: block;
}

.button-container {
  justify-self: end;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: right;
}

.project-btn {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 500px;
  flex-grow: 1;
}

.edit-task-btn,
.delete-task-btn {
  /* flex-shrink: 2; */
}

.delete-task-btn {
  /* grid-column: -1; */
}

/* FORM STYLING */

form {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 2rem 1rem;
  transform: translate(-50%, -50%);
  width: 50%;
  background: lightcyan;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#task-form-title,
#project-form-title {
  font-weight: bold;
  text-align: center;
}

.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar label {
  display: inline-block;
  background-color: #ddd;
  padding: 4px 11px;
  /* font-family:Arial; */
  /* font-size: 16px; */
}

.radio-toolbar input[type="radio"]:checked + label {
  background-color: #bbb;
}

.top-right {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0px;
  background: none;
  color: black;
}
