@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap");

:root {
  --section-padding: 8px;
  --section-margin: 8px;
  --border-radius-default: 0.75rem;
  --primary-color: #00ffff;
  --primary-color-dark: #008181;
  --shade-color: #494949da;
  --color-shadow: grey;
  --high-priority-color: red;
  --medium-priority-color: rgb(255, 217, 0);
  --low-priority-color: rgb(29, 199, 255);
  --project-color-custom: rgb(0, 0, 0);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 32px;
  padding: var(--section-padding) calc(var(--section-padding) * 2);
  text-decoration: none;
  font-size: 1.5rem;
  transition-duration: 0.2s;
}

button:not(:disabled),
input:not(:disabled),
input:not(:disabled) + label {
  cursor: pointer;
}

button:not(:disabled):hover {
  background-color: var(--primary-color-dark);
}

ul {
  list-style-type: none;
}

.edit,
.delete {
  border: solid 2px black;
  padding: 1.5rem;
  width: fit-content;
  box-shadow: 2px 5px 5px var(--color-shadow);
}

.delete {
  /* background: rgb(187, 0, 0); */
  background: rgb(255, 54, 54) url(images/trash-2.svg) no-repeat;
  background-position: center;
  background-size: 75%;
}

.delete:not(:disabled):hover {
  background-color: rgb(180, 41, 41);
}

.edit {
  background: rgb(29, 199, 255) url(images/edit.svg) no-repeat;
  background-position: center;
  background-size: 75%;
}

.edit:not(:disabled):hover {
  background-color: rgb(19, 127, 163);
}

textarea {
  /* outline: none; */
  resize: vertical;
}

body {
  /* background: rgb(68, 68, 68); */
  /* background: linear-gradient(-45deg, rgb(255, 255, 255), var(--primary-color)); */
  background: linear-gradient(-45deg, var(--primary-color), rgb(255, 255, 255));
  /* grid-template-columns: 30% 2fr 2fr; */
  height: 100vh;
}

main {
  /* display: grid; */
  grid-template-columns: 30% 2fr 2fr;
  /* background: white; */
}

#sidebar {
  background: rgb(34, 34, 34);
  color: white;
  display: flex;
  flex-direction: column;
}

#sidebar > h1 {
  padding: var(--section-padding);
}

#sidebar ul button {
  border-radius: 0;
  background: inherit;
  width: 100%;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  text-align: left;
  text-indent: 1.5rem;
}

#sidebar ul button:not(:disabled):hover {
  border-left: solid 8px white;
}

#sidebar button[data-tool-tip] {
  position: relative;
  overflow: visible;
}

button[data-tool-tip]::after {
  content: attr(data-tool-tip);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background: rgba(255, 255, 255, 0.959);
  color: black;
  font-size: 1rem;
  text-indent: 0;
  width: 20vw;
  padding: var(--section-padding);
  border: solid 2px black;
  border-radius: var(--border-radius-default);
  transform: scale(0);
  transition: 0.25s all;
  overflow: hidden;
  word-wrap: break-word;
  text-align: center;
}

button[data-tool-tip]:not(:disabled):hover::after {
  transform: scale(1);
  top: 100%;
  transition-delay: 0.75s;
}

/* Make text readable over any color */
.project-name-btn,
.project-btn {
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
/* Do not apply to tool-tip */
.project-name-btn::after {
  text-shadow: none;
}

.new {
  background: var(--primary-color);
  text-align: center;
  margin: var(--section-margin);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: black;
  border: solid 2px black;
}

.new::before {
  content: "";
  background-image: url(/src/images/plus-circle.svg);
  background-repeat: no-repeat;
  background-size: 1.5rem 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
}

#project-container {
  margin-top: 1rem;
  border-top: solid 2px white;
}

#project-container > h2 {
  padding: var(--section-padding);
}

#content-container {
  grid-column: 2 / 4;

  display: flex;
  flex-direction: column;
}

#project-info {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  padding: var(--section-padding);
  /* background: lightgray; */
}

#content-header {
  border-bottom: solid 2px rgba(255, 255, 255, 0.603);
  /* width: fit-content; */
  margin-bottom: var(--section-margin);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#content-description {
  grid-row: 2 / 3;
}

#project-info button {
  justify-self: end;
  margin: var(--section-margin);
  padding: 1.5rem 5vw;
  background-size: 45px;
}

#task-view-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.2rem;
  color: white;
  background: rgba(20, 20, 20, 0.877);
  /* border-radius: 2rem; */
  padding: var(--section-padding);
  box-shadow: 2px 5px 5px var(--color-shadow);
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  border-right: solid 2px white;
}

.toggle-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle {
  text-indent: 5rem;
  width: 100px;
  height: 50px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.toggle::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 3px;
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

#hide-completed:checked + label {
  background: #bada55;
}

#priority-sort:checked + label {
  background: rgb(253, 76, 76);
}

.toggle-checkbox:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

#date-range-container {
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

input[type="range"] {
  width: 100%;
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: var(--border-radius-default);
  background: white;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

#date-range-output {
  font-size: 2rem;
}

#newTaskBtn {
  margin: var(--section-margin);
}

#task-container li {
  display: grid;
  /* grid-template-columns: 0.2fr repeat(3, minmax(0, 2fr)); */
  /* grid-template-columns: 0.2fr minmax(0, 3fr) 1fr minmax(0, 2fr); */
  grid-template-columns: min-content minmax(0, 3fr) min-content minmax(0, 2fr);
  row-gap: 0.5rem;
  align-items: baseline;
  padding: var(--section-padding);
  margin: 8px;
  background: #fff7d2;
  box-shadow: 2px 5px 5px var(--color-shadow);
  position: relative;

  animation-duration: 0.3s;
  /* animation-name: animate-pop; */
  /* animation-delay: 0.5s; */
  /* animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48); */
  animation-timing-function: ease;
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

li.low {
  border-left: solid 8px var(--low-priority-color);
}

li.medium {
  border-left: solid 8px var(--medium-priority-color);
}

li.high {
  border-left: solid 8px var(--high-priority-color);
}

.task-complete-checkbox {
  /* transform: scale(3); */
  margin: 0 1rem;
  appearance: none;
  font: inherit;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.15rem solid rgb(0, 0, 0);
  border-radius: 25%;
  transform: translateY(-0.075rem);

  display: grid;
  place-content: center;
}

.task-complete-checkbox::before {
  content: "";
  width: 0.65rem;
  height: 0.65rem;
  transform: scale(0);
  /* transition: 120ms transform ease-in-out; */
  transition: 120ms all ease-in-out;
  box-shadow: inset 1rem 1rem rgb(38, 177, 3);
  transform-origin: center 0.5rem;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.task-complete-checkbox:checked {
  border-color: rgba(0, 0, 0, 0.144);
}

.task-complete-checkbox:checked::before {
  transform: scale(3);
}

.task-name {
  margin-left: -50px;
}

/* Task complete styling */
.task-complete-checkbox:checked ~ .description-checkbox-label,
.task-complete-checkbox:checked ~ .task-description {
  text-decoration: line-through;
}

.task-description {
  display: none;
  grid-row: 2 / 3;
  grid-column: 2 / span 5;
  overflow-wrap: break-word;
  /* padding: var(--section-padding); */
}

.description-checkbox {
  display: none;
}

.description-checkbox-label {
  display: block;
  position: relative;
  overflow-wrap: break-word;
  font-size: 1.5rem;
}

.description-checkbox:not(:disabled) ~ .description-checkbox-label:hover {
  text-shadow: 1px 1px 2px var(--color-shadow);
}

.description-checkbox-label::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-bottom: solid 2px black;
  border-right: solid 2px black;
  margin-right: 1rem;
  /* position: absolute; */
  left: 0;
  /* top: -10px; */
  transform: rotate(-45deg);
  /* background: gray; */
  transition: all 0.2s;
}

.description-checkbox:checked + label::before {
  transform: rotate(45deg);
}

.description-checkbox:checked ~ .task-description {
  display: block;
}

.task-due-date {
  justify-self: end;
  white-space: nowrap;
  margin: var(--section-margin);
}

.overdue {
  color: red;
}

.overdue::after {
  content: "";
  background: url(images/alert-circle.svg) no-repeat;
  background-position: center;
  background-size: 75%;
  padding: 1rem;
}

.task-due-date[data-tool-tip] {
  position: relative;
}

.task-due-date[data-tool-tip]::before {
  content: attr(data-tool-tip);
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.8rem;
  background: white;
  border: solid 1px black;
  padding: var(--section-padding);
  border-radius: var(--border-radius-default);
  transform: scale(0);
  transition: transform ease-out 150ms, bottom ease-out 150ms;
}

/* Only activate when pop is not active AKA main is the first child in body */
main:is(:first-child) .task-due-date[data-tool-tip]:hover::before {
  transform: scale(1);
  bottom: 115%;
}

.button-container {
  justify-self: end;
  display: grid;
  grid-template-columns: 2fr repeat(2, min-content);
  gap: 0.5rem;
}

.project-btn {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.project-btn:not(:disabled):hover {
  outline: solid 1px black;
}

.edit-task-btn,
.delete-task-btn {
  justify-self: end;
}

.pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 2rem 1rem;
  transform: translate(-50%, -50%);
  width: 50%;
  background: rgb(218, 218, 218);
  z-index: 99;
  border-radius: var(--border-radius-default);
  border: solid 2px black;
}

.pop-up ~ * {
  filter: blur(5px);
}

/* FORM STYLING */

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#task-form-title,
#project-form-title {
  font-weight: bold;
  text-align: center;
  margin-top: var(--section-margin);
}

.radio-toolbar {
  display: flex;
  /* justify-content: center; */
  gap: 1rem;
}

.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar label {
  display: inline-block;
  /* background-color: #ddd; */
  padding: var(--section-padding);
  /* border-radius: var(--border-radius-default); */
  /* font-family:Arial; */
  font-size: 1.25rem;
}

label[for="low"] {
  background: var(--low-priority-color);
}

label[for="medium"] {
  background: var(--medium-priority-color);
}

label[for="high"] {
  background: var(--high-priority-color);
}

#custom-color label {
  /* padding: 1rem 2rem; */
  flex-grow: 1;
  border-radius: var(--border-radius-default);
  text-align: center;
}

label[for="color1"] {
  background: var(--project-color-1);
}

label[for="color2"] {
  background: var(--project-color-2);
}

label[for="color3"] {
  background: var(--project-color-3);
}

label[for="color4"] {
  background: var(--project-color-4);
}

label[for="colorCustom"] {
  background: var(--project-color-custom);
  color: white;
}

input[type="color"] {
  display: none;
  appearance: none;
  border-radius: var(--border-radius-default);
  background-color: transparent;
  border: none;
  align-self: center;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

#colorCustom:checked ~ input {
  display: inline-block;
}

.radio-toolbar input[type="radio"]:checked + label {
  /* background-color: #bbb; */
  outline: solid 2px black;
}

button[type="submit"] {
  border: solid 1px black;
  color: black;
}

.top-right {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0px;
  border-top-right-radius: var(--border-radius-default);
  background: none;
  color: black;
  transition-duration: 0s;
}

@media (min-width: 780px) {
  body {
    display: grid;
  }
  main {
    display: grid;
    /* border-radius: var(--border-radius-default); */
    /* border: solid 2px black; */
  }

  .pop-up {
    width: 50%;
  }

  button[data-tool-tip]:hover::after {
    /* left: 75%; */
    /* top: 0%; */
  }
}
